<div class="container px-4 py-5">
    <h2 class="pb-2 border-bottom">Servicios</h2>

    <div class="row row-cols-1 row-cols-md-2 align-items-md-center g-5 py-5">
      <div class="col d-flex flex-column align-items-start gap-2">
        <h2 class="fw-bold text-body-emphasis">Nuestros productos</h2>
        <p class="text-body-secondary">Tenemos todo lo que tu empresa necesita para crecer y posicionar su marca en el mercado.</p>
      </div>

      <div class="col">
        <div class="row row-cols-1 row-cols-sm-2 g-4">
          <div class="col d-flex flex-column gap-2">
            <div class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-space bg-gradient fs-4 rounded-3">
              <svg class="bi" width="1em" height="1em">
                <use xlink:href="#collection" />
              </svg>
            </div>
            <h4 class="fw-semibold mb-0 text-body-emphasis">Bebidas</h4>
            <p class="text-body-secondary">
                Ofrecemos artículos para bebidas con precios muy económicos. 
                Personalizamos tazas, termos, botellas deportivas y demás artículos 
                referentes, con logotipos, y textos.
            </p>
          </div>

          <div class="col d-flex flex-column gap-2">
            <div class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-space bg-gradient fs-4 rounded-3">
              <svg class="bi" width="1em" height="1em">
                <use xlink:href="#gear-fill" />
              </svg>
            </div>
            <h4 class="fw-semibold mb-0 text-body-emphasis">Escritura</h4>
            <p class="text-body-secondary">
                Bolígrafos promocionales o artículos de escritura son una gran idea 
                para promocionar su empresa, con el logo o marca de su compañía.
            </p>
          </div>

          <div class="col d-flex flex-column gap-2">
            <div class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-space bg-gradient fs-4 rounded-3">
              <svg class="bi" width="1em" height="1em">
                <use xlink:href="#speedometer" />
              </svg>
            </div>
            <h4 class="fw-semibold mb-0 text-body-emphasis">Oficina</h4>
            <p class="text-body-secondary">
                Artículos de oficina, que van desde libretas, carpetas, agendas, 
                calculadoras, y otros obsequios promocionales originales a un precio económico.
            </p>
          </div>

          <div class="col d-flex flex-column gap-2">
            <div class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-space bg-gradient fs-4 rounded-3">
              <svg class="bi" width="1em" height="1em">
                <use xlink:href="#table" />
              </svg>
            </div>
            <h4 class="fw-semibold mb-0 text-body-emphasis">Tecnología</h4>
            <p class="text-body-secondary">
                Memorias usb, power bank para móvil, accesorios publicitarios para tablet o móvil, 
                personaliza con tu logo en estos artículos tecnológicos y sorprende a tus clientes.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>