<main>
    <div class="container py-4">
  
      <div class="p-5 mb-4 bg-body-tertiary rounded-3">
        <div class="container-fluid py-5">
          <h1 class="display-5 fw-bold">¿Quiénes Somos</h1>
          <p class="col-md-8 fs-4">
            Somos una empresa dedicada a proveer y equipar con artículos publicitarios, 
            confección y diseños modulares a las principales empresas del país. Contamos 
            con una gran experiencia, que nos permite un conocimiento del producto para 
            aplicarlo en beneficio de todos nuestros clientes.
        </p>
        </div>
      </div>
  
      <div class="row align-items-md-stretch">
        <div class="col-md-6">
          <div class="h-100 p-5 text-bg rounded-3">
            <h2>Misión</h2>
            <p>Asesorar a las actuales y potenciales empresas sobre la importancia que 
                tienen los artículos, una herramienta esencial para generar productividad 
                y exposición de su marca, brindando lo mejor de nosotros para lograr elevar 
                su imagen llevándola a los más altos estándares y que puedan encontrar mucho 
                mas que un obsequio.
            </p>
          </div>
        </div>
        <div class="col-md-6">
          <div class="h-100 p-5 bg-body-tertiary border rounded-3">
            <h2>Visión</h2>
            <p>Convertir la Compañía en la principal, referente a materiales publicitarios POP, 
                productos de confeccion y diseños modulares. Proporcionar innovación a nuestros 
                clientes, así como convertirnos en un ejemplo de excelente servicio y calidad.
            </p>
          </div>
        </div>
      </div>
    </div>
  </main>