<div class="form-floating mb-3">
    <input type="email" class="form-control" id="floatingInputDisabled" placeholder="su@correo.com">
    <label for="floatingInputDisabled">Correo</label>
  </div>
  <div class="form-floating mb-3">
    <textarea class="form-control" placeholder="Deje su comentario aquí" id="floatingTextareaDisabled"></textarea>
    <label for="floatingTextareaDisabled">Comentarios</label>
  </div>
  <div class="form-floating">
    <select class="form-select" id="floatingSelectDisabled" aria-label="Problemas habituales">
      <option selected>Seleccione su problema</option>
      <option value="1">No llegaron mis productos</option>
      <option value="2">No me llegó factura</option>
      <option value="3">Los productos llegaron en mal estado</option>
      <option value="4">No llegó el recibo de pago</option>
      <option value="5">Otros motivos</option>
    </select>

    <button class="w-20 btn-bg btn-lg" type="submit">Enviar solicitud</button>
  </div>