<div class="container px-4 py-5" id="custom-cards">
    <h2 class="pb-2 border-bottom">Somos JK Publicitarios </h2>
    <p>Una empresa nacida en 2016 con la idea de llevar al mercado colombiano los productos y servicios que las empresas necesitan para crecer.
        Somos una empresa dedicada a proveer de material publicitario P.O.P a las principales empresas del país.</p>

    <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">
      <div class="col">
        <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-image: url('../../../assets/img/features/web1.jpg');">
          <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
            <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Un producto esencial para el día a día</h3>
            <ul class="d-flex list-unstyled mt-auto">
              <li class="me-auto">
                <img src="../../../assets/img/logo/1x/favicon.png" alt="Logo JK" width="32" height="32" class="rounded-circle">
              </li>
              <li class="d-flex align-items-center me-3">
                <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#geo-fill"/></svg>
                <small>Morrales</small>
              </li>
              <li class="d-flex align-items-center">
                <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#calendar3"/></svg>
                <small>3d</small>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-image: url('../../../assets/img/features/web2.jpg');">
          <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
            <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Para toda ocasión y el infaltable en la oficina</h3>
            <ul class="d-flex list-unstyled mt-auto">
              <li class="me-auto">
                <img src="../../../assets/img/logo/1x/favicon.png" alt="logo JK" width="32" height="32" class="rounded-circle">
              </li>
              <li class="d-flex align-items-center me-3">
                <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#geo-fill"/></svg>
                <small>Agendas</small>
              </li>
              <li class="d-flex align-items-center">
                <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#calendar3"/></svg>
                <small>4d</small>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-image: url('../../../assets/img/features/web3.jpg');">
          <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
            <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Inspira a tu equipo con las mejores frases</h3>
            <ul class="d-flex list-unstyled mt-auto">
              <li class="me-auto">
                <img src="../../../assets/img/logo/1x/favicon.png" alt="Bootstrap" width="32" height="32" class="rounded-circle">
              </li>
              <li class="d-flex align-items-center me-3">
                <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#geo-fill"/></svg>
                <small>Mugs</small>
              </li>
              <li class="d-flex align-items-center">
                <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#calendar3"/></svg>
                <small>5d</small>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>